<div class="py-10 px-20 flex justify-between items-center min-h-[86vh] flex-col gap-y-6 max-w-4xl mx-auto">
  <h2 class="font-bold text-3xl uppercase text-black/80 dark:text-white/80">
    {{ userId ? 'Editar usuario' : 'Crear un nuevo usuario' }}
  </h2>
  @if (!loading) {
    <form
      class="flex flex-col flex-1 w-full items-center justify-evenly [&>div]:w-full"
      [formGroup]="userForm"
      (submit)="onSubmit()">
      <div class="flex flex-col gap-y-5">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Nombre completo
          <input
            type="text"
            formControlName="fullName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </label>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Número de cédula
          <input
            type="text"
            formControlName="cc"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </label>
      </div>
      @if (currentUser) {
        <div class="flex items-center justify-between [&>span]:text-black dark:[&>span]:text-white">
          <span
            >Fecha de creación:
            <strong>{{ currentUser.created_at | date: 'dd-MM-yyyy HH:mm' }}</strong>
          </span>
          <span
            >Última actualización:
            <strong>{{ currentUser.updated_at | date: 'dd-MM-yyyy HH:mm' }}</strong>
          </span>
        </div>
      }
      <button
        routerLink="/create"
        [disabled]="userForm.invalid"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 max-w-fit disabled:cursor-not-allowed disabled:opacity-70 disabled:hover:bg-blue-700 dark:disabled:hover:bg-blue-600">
        {{ userId ? 'Actualizar' : 'Añadir' }}
        @if (userId) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5" />
            <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" />
          </svg>
        } @else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M16 19h6" />
            <path d="M19 16v6" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
          </svg>
        }
      </button>
    </form>
  } @else {
    <div class="flex flex-1 items-center">
      <app-spinner />
    </div>
  }
</div>
